@model List<Manager>
<div class="row">
<a class="btn btn-primary w-25 mt-3 mb-3" asp-controller="Managers" asp-action="Create">მენეჯერის დამატება</a>
</div>
<div class="row">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>სახელი</th>
                <th>გვარი</th>
                <th>სასტუმროს დასახელება</th>
             @*    <th>სასტუმროს ID</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var manager in Model)
            {
                <tr>
                    <td>@manager.FirstName</td>
                    <td>@manager.LastName</td>
                    <td>@manager.Hotel.HotelName</td>
                   @*  <td>@manager.HotelId</td> *@
                    <td>
                        <a asp-controller="Managers" asp-action="Update" asp-route-id="@manager.Id" class="btn btn-warning">რედაქტირება</a>
                        <a asp-controller="Managers" asp-action="Delete" asp-route-id="@manager.Id" class="btn btn-danger">წაშლა</a>
                    </td>
                </tr>
           
            }
        </tbody>
    </table>
</div>